@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Neucha", cursive;
  overflow-x: hidden;
}

html {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 6vh;
  border-bottom: solid 1px black;
  width: 100%;
  background: white;
  z-index: 9000;
}

.header .fa-times {
  position: fixed;
  top: 1%;
  left: 2.5%;
  font-size: 1.6rem;
  cursor: pointer;
  display: none;
  outline: none;
  z-index: 10;
}

.header .fa-bars {
  position: fixed;
  top: 1%;
  left: 90%;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
  outline: none;
  z-index: 10;
}

.menu {
  position: fixed;
  top: -100%;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  text-align: center;
  width: 92%;
  height: 70%;
  margin: 0 1rem;
  padding: 1rem 0;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #d49528), color-stop(65%, white));
  background: linear-gradient(180deg, #d49528 10%, white 65%);
  border-radius: 0.4rem;
}

.menu li {
  margin: 1.5rem 0;
}

.menu a {
  color: black;
  font-size: 1.5rem;
}

.menu .sign-up {
  background: royalblue;
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
}

.container {
  max-width: 100%;
  overflow: hidden;
}

.container .top-section {
  position: fixed;
  overflow: hidden;
  top: 0%;
  width: 100%;
  height: 10vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #4e4d4db4), to(#fff));
  background: linear-gradient(180deg, #4e4d4db4 45%, #fff 100%);
  z-index: -100;
}

.container .mid-section {
  position: fixed;
  overflow: hidden;
  top: 0%;
  width: 100%;
  height: 60vh;
  text-align: center;
  z-index: -100;
}

.container .mid-section img {
  max-width: 60%;
  z-index: -1;
}

.container .bottom-section {
  position: fixed;
  overflow: hidden;
  top: 80%;
  width: 100%;
  height: 20vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), color-stop(70%, #4e4d4db4));
  background: linear-gradient(180deg, #fff 25%, #4e4d4db4 70%);
  z-index: -1;
}

.container .cover-layer::-webkit-scrollbar {
  display: none;
}

.container .cover-layer {
  position: absolute;
  top: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 96%;
  height: 98vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #fff), color-stop(80%, #11030321));
  background: linear-gradient(180deg, #fff 15%, #11030321 80%);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.container .cover-layer img {
  max-width: 100%;
  border-radius: 5%;
}

.container .cover-layer .center-img {
  width: 100%;
  text-align: center;
}

.container .cover-layer .sticky-hearder {
  width: 100%;
  text-align: center;
}

.container .cover-layer .info {
  width: 100%;
  text-align: center;
}

.container .cover-layer .link-pics {
  background: rgba(255, 255, 255, 0.705);
  padding: 0.5rem;
  height: 11vh;
  width: 100%;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  overflow: hidden;
}

.container .cover-layer .link-pics ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .cover-layer .link-pics ul li {
  margin: 0 0.2rem;
}

.container .cover-layer .link-pics img {
  max-width: 100%;
  border-radius: 50%;
  border: solid 4px #ffae00;
}
/*# sourceMappingURL=style.css.map */